/* Button */

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  @include button-base;

  &:hover {
    background: $grey;
  }
}

.add-btn {
  @include button-base;

  &:hover {
    background: $blue;
  }
}

.delete-btn {
  @include button-base;

  &:hover {
    background: $red;
  }
}
