/* Task */

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.task {
  @include flex-align-center;
  width: 50%;
  padding: 15px 2%;
  border: 1px solid $black;
  border-radius: 10px;
  box-shadow: $box-shadow-primary $black;

  &--done {
    background: $grey;

    & .task-text {
      text-decoration: line-through 2px;
    }
  }
}

.task__label {
  @include flex-align-center;
  gap: 10px;
  cursor: pointer;

  & input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
  }

  & .task__checkmark {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 8px;
    border: 2px solid $black;
    border-radius: 4px;
    transition: $transition-primary;
  }

  & input:checked + .task__checkmark {
    background-color: $black;
    border-color: $black;
  }

  & input:checked + .task__checkmark::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    height: 9px;
    width: 4px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.task__text {
  max-width: 88%;
  line-height: 1.4;
}

.task .delete-btn {
  margin-left: auto;
}
