/* Variables */

// ===== Font Family ===== //
$font-family-primary: "Poppins";

// ===== Color ===== //
$black: #111;
$lightblack: #333;
$white: #f1f1f1;
$grey: #bbb;

// ===== Box Shadow ===== //
$box-shadow-primary: 0 0 40px rgba(#000, 0.1);
