/* Variables */

// ===== Font Family ===== //
$font-family-primary: "Poppins";

// ===== Color ===== //
$black: #111;
$lightblack: #333;
$white: #f1f1f1;
$grey: #cccccc;
$red: #c80000;
$green: #16610e;
$blue: #115cdd;

// ===== Box Shadow ===== //
$box-shadow-primary: 2px 3px 0 1px;

// ===== Transition ===== //
$transition-primary: all 0.2s;
